/**
!/modules/
/modules/*
!/modules/mod_bpicon/
!/modules/mod_bpicon/*
/modules/mod_bpicon/assets/*

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/package.json
!/package-lock.json
!/webpack.config.js

!/.github
!/.github/**
!/.phpcs
!/.phpcs/**